/* Flash */
/* Copyright Edward Huang 2021 */

/* Style */
body {
    /* background-image: url(../wallpapers/breathtaking-landscape.jpg); */
    background-color: #333333;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-size: cover;
    background-position: 0px -180px;
    text-align: center;
}

#content {
    position: relative;
}

#add_button {
    position: relative;
    top: 15px;
    right: -550px;
}

/* Animations */
@keyframes fadeEffect {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
  }