/* Flash */
/* Copyright Edward Huang 2019 */

/* Style */
body {
    background-image: url(/assets/wallpapers/breathtaking-landscape.jpg);
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-size: cover;
    background-position: 0px -180px;
    text-align: center;
}

/* Animations */
@keyframes fadeEffect {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
  }
